* {
    box-sizing: border-box;
}

:root {
    --font-size: 20px;
    --white: rgb(250, 251, 247);
    scrollbar-width: 0px !important;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: coromantGaramond;
    src: url('https://cdn.byran.tech/cdn/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}

@font-face {
    font-family: coromantGaramond-SemiBold;
    src: url('https://cdn.byran.tech/cdn/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf');
}

@font-face {
    font-family: coromantGaramond-Bold;
    src: url('https://cdn.byran.tech/cdn/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: calc(0.694vw + 6px);

    /* Removes Padding */
    margin: 0;
    padding: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

h1 {
    font-family: coromantGaramond-SemiBold;
}

p {
    text-align: center;
}

bigBold {
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

.mainPage {
    background-image: url('./images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    overflow-x: hidden;
}

/* ANCHOR Testing/Debugging/Troubleshooting */
.border {
    border: 1px solid greenyellow;
}

.border2 {
    border: 1px solid blue;
}

.border3 {
    border: 1px solid red;
}

.largeBorder {
    border: 1px solid greenyellow;
}

/* End Testing/Debugging/Troubleshooting */

/* ANCHOR Hover Link Animation from https://github.com/codrops/LineHoverStyles/ (MIT License) */
.link {
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 0.6px;
    background: var(--white);
    top: 110%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.linkAnim::before,
.linkAnim::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.linkAnim:hover::before,
.linkAnim:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.linkAnim::after {
    content: '';
    top: calc(110% + 5px);
    width: 70%;
    left: 15%;
}

.linkAnim::before,
.linkAnim:hover::after {
    transition-delay: 0.1s;
}

.linkAnim:hover::before {
    transition-delay: 0s;
}

/* END Hover Link Animation */

.flex {
    display: flex;
}

.titleBar {
    position: absolute;
    width: 100vw;
}

.titleBar .logo {
    position: absolute;
    font-family: coromantGaramond-SemiBold;
    font-size: 2.3em;
    padding: 20px;
}

.titleBarLinksWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 30px;
}

.titleBarLinks {
    padding: 0px 10px 0px 10px;
    font-family: coromantGaramond-SemiBold;
    font-size: 1.5em;
}

.gridWrapper {
    display: grid;
    grid-template-columns: [start] 5% [first] 33% [second] 33% [end];
    grid-template-rows: [start] 23vh [first] auto [second] auto [third] 100px [end];
}

.teachingPhilosophyWrapper {
    grid-column: first / second;
    grid-row: 2 / 4;
}

.teachingPhilosophyTitle {
    text-align: center;
}

.aboutMeWrapper {
    grid-column: second / end;
    grid-row: 4 / 6;
}

.aboutMeTitle {
    text-align: center;
}

.aboutMe {
    font-size: 1em;
    line-height: 1.5;
    padding: 5px;
}

@keyframes slideOut {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 100%);
        opacity: 1;
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 0);
    }

    99% {
        visibility: visible;
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        opacity: 0.4;
        visibility: hidden;
    }
}

.image {
    background: rgba(151, 187, 98);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    background-position: 0 0;
    background-size: cover;
    animation: 1.8s linear slideOut 0.7s;
    animation-fill-mode: forwards;
}

@keyframes flyOut {
    from {
        transform: translate(-10vw, 10vh);
        opacity: 0.3;
    }

    20% {
        opacity: 1;
    }

    50% {
    }

    99% {
        visibility: visible;
    }

    to {
        transform: translate(110vw, -110vh);
        visibility: hidden;
        opacity: 0.5;
    }
}

.golfBall {
    z-index: 2;
    position: absolute;
    bottom: -10vh;
    left: -10vw;
    height: 7vh;
    width: auto;
    animation: 1.9s linear flyOut 0.5s;
    animation-fill-mode: forwards;
}

.roundImage {
    background-image: url('./images/coach.jpg');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    right: 100px;
    top: 120px;
}